@page
@model WEB_253504_Sapronenko.UI.Areas.Admin.Views.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DotaHero</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DotaHero.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DotaHero.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DotaHero.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DotaHero.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DotaHero.BaseDamage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DotaHero.BaseDamage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DotaHero.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DotaHero.Image)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DotaHero.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
